#mapdiv8 { height: 500px; }

body {
	width: 100%;
	max-width: 700px; /* or whatever width you want */
	margin-right: auto;
	margin-left: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

h1 {text-align: center;}
p {text-align: center;}

h4 {text-align: center;}
